@import url(https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background: #1C1C1C;
    color: #ededed;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 77;
}

.logo {
    color: #ededed;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar a {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ededed;
    margin-left: 20px;
}

.navbar a:hover {
    color: #00abf0;
}

.about {
    margin-top: 13rem;
    margin-bottom: 7rem;
    display: flex;
    align-items:center;
    padding: 0 10%;
}

.about-header {
    font-size: 5rem;    
}
.about-content {
    max-width: 600px;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;
}